.container {
    position: fixed;
    top: calc(2.2rem);
    bottom: 0;
    /* left: 0; */
    right: 0;
    
}
.content {
    width: 200px;
    border: 1px solid #555;
}

.caught {
    background-color: greenyellow;
}

mat-icon:hover {
    cursor: pointer;
}

h3 {
    text-align: center;
}

img:hover {
    cursor: pointer;
    background-color: #dcdcdc;
}
.pokemons {
    margin: auto;
    text-align: center;
}
.catchList-button {
    position:fixed;
    top:0;
    right:0;

}

.button-div{
    display:flex;
    justify-content: space-around;
}